Criação de classes do Anoncreds no Dart

Implementado com o Aries Framework Kotlin e Swift


Implementa:
- RFC 0160: Connection Protocol
- RFC 0211: Mediator Coordination Protocol
- RFC 0095: Basic Message Protocol
- RFC 0036: Issue Credential Protocol
- RFC 0037: Present Proof Protocol Does not implement alternate begining (Prover begins with proposal)
- RFC 0434: Out of Band Protocol (AIP 2.0)
- RFC 0023: DID Exchange Protocol (AIP 2.0)